<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Balance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="app-header/header :: header"></header>

<div class="container mt-5">
    <h2 th:text="'Your balance is: ' + ${balance}"></h2>
    <form action="/user/balance/add" method="get">
        <button type="submit" class="btn btn-success">Add Balance</button>
    </form>
</div>

</body>
</html>